<%- include("./partials/header.ejs", {title: "articles"}) %>
<h1><%= article.title %></h1>
<h2><%= article.author %></h2>
<p>Date de publication<%= article.publishedAt %></p>
<h2><%= article.description %></h2>
<img src="<%= `${article.urlToImage}` %>" alt="gallery image" />
<p><%= article.content %></p>

<input type="button" name="<%= article.slug %>" id="updateBtn" value="Modifier" />
<input type="button" name="<%= article.slug %>" id="deleteBtn" value="Supprimer" />

<script type="text/javascript" src="/js/updateArticle.js"></script>
<script type="text/javascript" src="/js/delete.js"></script>
<%- include("./partials/footer.ejs") %>